nav.navbar.navbar-expand-lg.navbar-light.bg-secondary.mb-3
  a.navbar-brand(href='#') RMUTSB
  #navbarNavDropdown.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') Search
      li.nav-item
        a.nav-link(href='#') Help
