extends layout/form

block content
    h4 เข้าสู่ระบบ
    include components/alert
    form(action="/login", method="post")
      label.form-label(for="email") อีเมล
      input.form-control(id="email" type="email", name="email" required)
      .mt-2
        label.form-label(for="password") รหัสผ่าน
        input.form-control(id="password" type="password", name="password" required)
      .mt-2
        button.btn.btn-primary เข้าสู่ระบบ
        a(href="/register") สมัครสมาชิก.
    hr
    .mt-2
      a.btn.btn-primary(href="/login/facebook") Login with Facebook
      a.btn.btn-primary(href="/login/google") Login with google
